.landingPage,
.tableDiv {
  display: flex;
  align-items: center;
  height: 100vh;
}

.landingPage {
  justify-content: center;
  margin: -200px;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.item {
  margin: 15px;
}

.tableDiv {
  height: 55vh;
}

.metricsTable {
  border-collapse: collapse;
  width: 100%;
}

.metricsTable,
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: lightgray;
}

.data {
  text-align: center;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #3498db;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #2980b9;
  color: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

input {
  padding: 10px;
}

.return {
  position: fixed;
  bottom: 0;
  right: 0;
}